In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

# Census API Key
from config import api_key
c = Census(api_key, year=2018)

In [ ]:
c.acs5.tables()

In [2]:
# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e",
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E","B03001_012E","B03001_009E","B03001_010E",
                          "B03001_011E","B03001_013E","B03001_014E","B03001_017E",
                          "B03001_018E","B03001_019E","B03001_020E","B03001_021E",
                          "B03001_022E","B03001_023E","B03001_024E","B03001_025E"
                         ), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

# Column Reordering
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "B03001_012E": "Nicaraguans",
                                      "B03001_009E": "Costa Ricans",
                                      "B03001_010E": "Guatemalans",
                                      "B03001_011E": "Hondurans",
                                      "B03001_013E": "Panamanians",
                                      "B03001_014E": "Salvadorans",
                                      "B03001_017E": "Argentineans",
                                      "B03001_018E": "Bolivians",
                                      "B03001_019E": "Chileans",
                                      "B03001_020E": "Colombians",
                                      "B03001_021E": "Ecuadorians",
                                      "B03001_022E": "Paraguayans",
                                      "B03001_023E": "Peruvians",
                                      "B03001_024E": "Uruguayans",
                                      "B03001_025E": "Venezuelans",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

# Add in Poverty Rate (Poverty Count / Population)
#census_pd["Poverty Rate"] = 100 * census_pd["Poverty Count"].astype(int) / census_pd["Population"].astype(int)
#    
#        

# Final DataFrame
census_pd = census_pd[["Zipcode", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Nicaraguans","Costa Ricans",
                      "Guatemalans","Hondurans","Panamanians","Salvadorans","Argentineans","Bolivians","Chileans",
                       "Colombians","Ecuadorians","Paraguayans","Peruvians","Uruguayans","Venezuelans"]]

# Visualize
census_pd["Zipcode"].astype(int)
print(len(census_pd))
census_pd

33120

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Nicaraguans,Costa Ricans,Guatemalans,Hondurans,...,Salvadorans,Argentineans,Bolivians,Chileans,Colombians,Ecuadorians,Paraguayans,Peruvians,Uruguayans,Venezuelans
0,00601,17242.0,40.5,13092.0,6999.0,10772.0,0.0,0.0,0.0,3.0,...,9.0,0.0,0.0,0.0,0.0,31.0,0.0,0.0,0.0,0.0
1,00602,38442.0,42.3,16358.0,9277.0,19611.0,0.0,0.0,0.0,0.0,...,49.0,0.0,0.0,0.0,0.0,0.0,0.0,56.0,0.0,0.0
2,00603,48814.0,41.1,16603.0,11307.0,24337.0,0.0,0.0,0.0,7.0,...,0.0,9.0,0.0,0.0,38.0,0.0,0.0,9.0,0.0,0.0
3,00606,6437.0,43.3,12832.0,5943.0,4163.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,00610,27073.0,42.1,19309.0,10220.0,11724.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,87515,363.0,44.2,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33116,87518,9.0,-666666666.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33117,87511,2896.0,36.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33118,87578,245.0,48.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33119,87532,18756.0,39.3,NaN,NaN,NaN,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,15.0,0.0,0.0,0.0,0.0

In [3]:
census_pd.dtypes

Zipcode               object
Population           float64
Median Age           float64
Household Income     float64
Per Capita Income    float64
Poverty Count        float64
Nicaraguans          float64
Costa Ricans         float64
Guatemalans          float64
Hondurans            float64
Panamanians          float64
Salvadorans          float64
Argentineans         float64
Bolivians            float64
Chileans             float64
Colombians           float64
Ecuadorians          float64
Paraguayans          float64
Peruvians            float64
Uruguayans           float64
Venezuelans          float64
dtype: object

In [4]:
uszipcode5_file = "uszipcodes.csv"
df_uszipcode5 = pd.read_csv(uszipcode5_file)
df_uszipcode5

,Zipcode,lat,lng,city,state_id,state_name,zcta,parent_zcta,population_zip,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,10001,40.75061,-73.99716,New York,NY,New York,True,NaN,22924,13259.3,36061,New York,{'36061':100},New York,36061,False,False,America/New_York
1,10002,40.71586,-73.98613,New York,NY,New York,True,NaN,74993,35781.9,36061,New York,{'36061':100},New York,36061,False,False,America/New_York
2,10003,40.73180,-73.98911,New York,NY,New York,True,NaN,54682,37524.3,36061,New York,{'36061':100},New York,36061,False,False,America/New_York
3,10004,40.69465,-74.02106,New York,NY,New York,True,NaN,3028,2214.8,36061,New York,{'36061':100},New York,36061,False,False,America/New_York
4,10005,40.70616,-74.00907,New York,NY,New York,True,NaN,8831,37900.9,36061,New York,{'36061':100},New York,36061,False,False,America/New_York
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30536,99923,55.97796,-130.03671,Hyder,AK,Alaska,True,NaN,15,2.1,2198,Prince of Wales-Hyder,{'02198':100},Prince of Wales-Hyder,2198,False,False,America/Sitka
30537,99925,55.55767,-132.97627,Klawock,AK,Alaska,True,NaN,927,5.7,2198,Prince of Wales-Hyder,{'02198':100},Prince of Wales-Hyder,2198,False,False,America/Sitka
30538,99926,55.12617,-131.48928,Metlakatla,AK,Alaska,True,NaN,1635,4.2,2198,Prince of Wales-Hyder,{'02198':100},Prince of Wales-Hyder,2198,False,False,America/Metlakatla
30539,99927,56.25100,-133.37571,Point Baker,AK,Alaska,True,NaN,38,0.2,2198,Prince of Wales-Hyder,{'02198':100},Prince of Wales-Hyder,2198,False,False,America/Sitka
30540,99929,56.36950,-131.93648,Wrangell,AK,Alaska,True,NaN,2484,0.4,2275,Wrangell,{'02275':100},Wrangell,2275,False,False,America/Sitka

In [20]:
df_uszipcode5.dtypes

Zipcode               int64
lat                 float64
lng                 float64
city                 object
state_id             object
state_name           object
zcta                   bool
parent_zcta         float64
population_zip        int64
density             float64
county_fips           int64
county_name          object
county_weights       object
county_names_all     object
county_fips_all      object
imprecise              bool
military               bool
timezone             object
dtype: object

In [21]:
df_uszipcode5["Zipcode"]=df_uszipcode5["Zipcode"].astype(str)

In [23]:
df_uszipcode5.dtypes

Zipcode              object
lat                 float64
lng                 float64
city                 object
state_id             object
state_name           object
zcta                   bool
parent_zcta         float64
population_zip        int64
density             float64
county_fips           int64
county_name          object
county_weights       object
county_names_all     object
county_fips_all      object
imprecise              bool
military               bool
timezone             object
dtype: object

In [5]:
uszipcode4_file = "uszipcodes4.csv"
df_uszipcode4 = pd.read_csv(uszipcode4_file)
df_uszipcode4

,Zipcode,lat,lng,city,state_id,state_name,zcta,parent_zcta,population_zip,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,1001,42.06258,-72.62590,Agawam,MA,Massachusetts,True,NaN,17621,562.8,25013,Hampden,{'25013':100},Hampden,25013,False,False,America/New_York
1,1002,42.37492,-72.46210,Amherst,MA,Massachusetts,True,NaN,30066,203.7,25015,Hampshire,"{'25011':0.97,'25015':99.03}",Hampshire|Franklin,25015|25011,False,False,America/New_York
2,1003,42.39192,-72.52479,Amherst,MA,Massachusetts,True,NaN,11238,5629.7,25015,Hampshire,{'25015':100},Hampshire,25015,False,False,America/New_York
3,1005,42.42018,-72.10615,Barre,MA,Massachusetts,True,NaN,4991,44.3,25027,Worcester,{'25027':100},Worcester,25027,False,False,America/New_York
4,1007,42.27875,-72.40036,Belchertown,MA,Massachusetts,True,NaN,14967,107.5,25015,Hampshire,{'25015':100},Hampshire,25015,False,False,America/New_York
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2422,8889,40.60758,-74.75959,Whitehouse Station,NJ,New Jersey,True,NaN,9562,156.0,34019,Hunterdon,{'34019':100},Hunterdon,34019,False,False,America/New_York
2423,8890,40.53934,-74.57394,Zarephath,NJ,New Jersey,True,NaN,15,37.4,34035,Somerset,{'34035':100},Somerset,34035,False,False,America/New_York
2424,8901,40.48407,-74.44269,New Brunswick,NJ,New Jersey,True,NaN,57659,3343.3,34023,Middlesex,{'34023':100},Middlesex,34023,False,False,America/New_York
2425,8902,40.44072,-74.48629,North Brunswick,NJ,New Jersey,True,NaN,41135,1167.9,34023,Middlesex,{'34023':100},Middlesex,34023,False,False,America/New_York
2426,8904,40.50056,-74.42829,Highland Park,NJ,New Jersey,True,NaN,13992,2964.4,34023,Middlesex,{'34023':100},Middlesex,34023,False,False,America/New_York

In [6]:
uszipcode3_file = "uszipcodes3.csv"
df_uszipcode3 = pd.read_csv(uszipcode3_file)
df_uszipcode3

,Zipcode,lat,lng,city,state_id,state_name,zcta,parent_zcta,population_zip,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18004,-66.75218,Adjuntas,PR,Puerto Rico,True,NaN,17242,111.4,72001,Adjuntas,"{'72001':99.43,'72141':0.57}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36073,-67.17517,Aguada,PR,Puerto Rico,True,NaN,38442,523.5,72003,Aguada,{'72003':100},Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45439,-67.12202,Aguadilla,PR,Puerto Rico,True,NaN,48814,667.9,72005,Aguadilla,{'72005':100},Aguadilla,72005,False,False,America/Puerto_Rico
3,606,18.16724,-66.93828,Maricao,PR,Puerto Rico,True,NaN,6437,60.4,72093,Maricao,"{'72093':94.88,'72121':1.35,'72153':3.78}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,18.29032,-67.12243,Anasco,PR,Puerto Rico,True,NaN,27073,312.0,72011,Añasco,"{'72003':0.55,'72011':99.45}",Añasco|Aguada,72011|72003,False,False,America/Puerto_Rico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,979,18.43649,-66.01699,Carolina,PR,Puerto Rico,True,NaN,15897,4207.9,72031,Carolina,{'72031':100},Carolina,72031,False,False,America/Puerto_Rico
127,982,18.40992,-65.99170,Carolina,PR,Puerto Rico,True,NaN,14241,4473.5,72031,Carolina,{'72031':100},Carolina,72031,False,False,America/Puerto_Rico
128,983,18.41804,-65.97632,Carolina,PR,Puerto Rico,True,NaN,34798,4373.3,72031,Carolina,{'72031':100},Carolina,72031,False,False,America/Puerto_Rico
129,985,18.40825,-65.94842,Carolina,PR,Puerto Rico,True,NaN,31845,1734.9,72031,Carolina,{'72031':100},Carolina,72031,False,False,America/Puerto_Rico
130,987,18.33935,-65.94313,Carolina,PR,Puerto Rico,True,NaN,57181,989.3,72031,Carolina,"{'72031':99.42,'72139':0.58}",Carolina|Trujillo Alto,72031|72139,False,False,America/Puerto_Rico

In [7]:
df_uszipcode3["Zipcode"]=df_uszipcode3["Zipcode"].astype(str)

In [8]:
df_uszipcode3.dtypes

Zipcode              object
lat                 float64
lng                 float64
city                 object
state_id             object
state_name           object
zcta                   bool
parent_zcta         float64
population_zip        int64
density             float64
county_fips           int64
county_name          object
county_weights       object
county_names_all     object
county_fips_all      object
imprecise              bool
military               bool
timezone             object
dtype: object

In [9]:
df_uszipcode3["Zipcode"]="00" +df_uszipcode3["Zipcode"]

In [10]:
df_uszipcode3

,Zipcode,lat,lng,city,state_id,state_name,zcta,parent_zcta,population_zip,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,00601,18.18004,-66.75218,Adjuntas,PR,Puerto Rico,True,NaN,17242,111.4,72001,Adjuntas,"{'72001':99.43,'72141':0.57}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,00602,18.36073,-67.17517,Aguada,PR,Puerto Rico,True,NaN,38442,523.5,72003,Aguada,{'72003':100},Aguada,72003,False,False,America/Puerto_Rico
2,00603,18.45439,-67.12202,Aguadilla,PR,Puerto Rico,True,NaN,48814,667.9,72005,Aguadilla,{'72005':100},Aguadilla,72005,False,False,America/Puerto_Rico
3,00606,18.16724,-66.93828,Maricao,PR,Puerto Rico,True,NaN,6437,60.4,72093,Maricao,"{'72093':94.88,'72121':1.35,'72153':3.78}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,00610,18.29032,-67.12243,Anasco,PR,Puerto Rico,True,NaN,27073,312.0,72011,Añasco,"{'72003':0.55,'72011':99.45}",Añasco|Aguada,72011|72003,False,False,America/Puerto_Rico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,00979,18.43649,-66.01699,Carolina,PR,Puerto Rico,True,NaN,15897,4207.9,72031,Carolina,{'72031':100},Carolina,72031,False,False,America/Puerto_Rico
127,00982,18.40992,-65.99170,Carolina,PR,Puerto Rico,True,NaN,14241,4473.5,72031,Carolina,{'72031':100},Carolina,72031,False,False,America/Puerto_Rico
128,00983,18.41804,-65.97632,Carolina,PR,Puerto Rico,True,NaN,34798,4373.3,72031,Carolina,{'72031':100},Carolina,72031,False,False,America/Puerto_Rico
129,00985,18.40825,-65.94842,Carolina,PR,Puerto Rico,True,NaN,31845,1734.9,72031,Carolina,{'72031':100},Carolina,72031,False,False,America/Puerto_Rico
130,00987,18.33935,-65.94313,Carolina,PR,Puerto Rico,True,NaN,57181,989.3,72031,Carolina,"{'72031':99.42,'72139':0.58}",Carolina|Trujillo Alto,72031|72139,False,False,America/Puerto_Rico

In [11]:
df_uszipcode4["Zipcode"]=df_uszipcode4["Zipcode"].astype(str)

In [12]:
df_uszipcode4.dtypes

Zipcode              object
lat                 float64
lng                 float64
city                 object
state_id             object
state_name           object
zcta                   bool
parent_zcta         float64
population_zip        int64
density             float64
county_fips           int64
county_name          object
county_weights       object
county_names_all     object
county_fips_all      object
imprecise              bool
military               bool
timezone             object
dtype: object

In [13]:
df_uszipcode4["Zipcode"]="0" +df_uszipcode4["Zipcode"]

In [14]:
df_uszipcode4

,Zipcode,lat,lng,city,state_id,state_name,zcta,parent_zcta,population_zip,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,01001,42.06258,-72.62590,Agawam,MA,Massachusetts,True,NaN,17621,562.8,25013,Hampden,{'25013':100},Hampden,25013,False,False,America/New_York
1,01002,42.37492,-72.46210,Amherst,MA,Massachusetts,True,NaN,30066,203.7,25015,Hampshire,"{'25011':0.97,'25015':99.03}",Hampshire|Franklin,25015|25011,False,False,America/New_York
2,01003,42.39192,-72.52479,Amherst,MA,Massachusetts,True,NaN,11238,5629.7,25015,Hampshire,{'25015':100},Hampshire,25015,False,False,America/New_York
3,01005,42.42018,-72.10615,Barre,MA,Massachusetts,True,NaN,4991,44.3,25027,Worcester,{'25027':100},Worcester,25027,False,False,America/New_York
4,01007,42.27875,-72.40036,Belchertown,MA,Massachusetts,True,NaN,14967,107.5,25015,Hampshire,{'25015':100},Hampshire,25015,False,False,America/New_York
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2422,08889,40.60758,-74.75959,Whitehouse Station,NJ,New Jersey,True,NaN,9562,156.0,34019,Hunterdon,{'34019':100},Hunterdon,34019,False,False,America/New_York
2423,08890,40.53934,-74.57394,Zarephath,NJ,New Jersey,True,NaN,15,37.4,34035,Somerset,{'34035':100},Somerset,34035,False,False,America/New_York
2424,08901,40.48407,-74.44269,New Brunswick,NJ,New Jersey,True,NaN,57659,3343.3,34023,Middlesex,{'34023':100},Middlesex,34023,False,False,America/New_York
2425,08902,40.44072,-74.48629,North Brunswick,NJ,New Jersey,True,NaN,41135,1167.9,34023,Middlesex,{'34023':100},Middlesex,34023,False,False,America/New_York
2426,08904,40.50056,-74.42829,Highland Park,NJ,New Jersey,True,NaN,13992,2964.4,34023,Middlesex,{'34023':100},Middlesex,34023,False,False,America/New_York

In [24]:
tempzip = [df_uszipcode3, df_uszipcode4, df_uszipcode5]
df_uszipcode = pd.concat(tempzip)
df_uszipcode

,Zipcode,lat,lng,city,state_id,state_name,zcta,parent_zcta,population_zip,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,00601,18.18004,-66.75218,Adjuntas,PR,Puerto Rico,True,NaN,17242,111.4,72001,Adjuntas,"{'72001':99.43,'72141':0.57}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,00602,18.36073,-67.17517,Aguada,PR,Puerto Rico,True,NaN,38442,523.5,72003,Aguada,{'72003':100},Aguada,72003,False,False,America/Puerto_Rico
2,00603,18.45439,-67.12202,Aguadilla,PR,Puerto Rico,True,NaN,48814,667.9,72005,Aguadilla,{'72005':100},Aguadilla,72005,False,False,America/Puerto_Rico
3,00606,18.16724,-66.93828,Maricao,PR,Puerto Rico,True,NaN,6437,60.4,72093,Maricao,"{'72093':94.88,'72121':1.35,'72153':3.78}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,00610,18.29032,-67.12243,Anasco,PR,Puerto Rico,True,NaN,27073,312.0,72011,Añasco,"{'72003':0.55,'72011':99.45}",Añasco|Aguada,72011|72003,False,False,America/Puerto_Rico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30536,99923,55.97796,-130.03671,Hyder,AK,Alaska,True,NaN,15,2.1,2198,Prince of Wales-Hyder,{'02198':100},Prince of Wales-Hyder,2198,False,False,America/Sitka
30537,99925,55.55767,-132.97627,Klawock,AK,Alaska,True,NaN,927,5.7,2198,Prince of Wales-Hyder,{'02198':100},Prince of Wales-Hyder,2198,False,False,America/Sitka
30538,99926,55.12617,-131.48928,Metlakatla,AK,Alaska,True,NaN,1635,4.2,2198,Prince of Wales-Hyder,{'02198':100},Prince of Wales-Hyder,2198,False,False,America/Metlakatla
30539,99927,56.25100,-133.37571,Point Baker,AK,Alaska,True,NaN,38,0.2,2198,Prince of Wales-Hyder,{'02198':100},Prince of Wales-Hyder,2198,False,False,America/Sitka
30540,99929,56.36950,-131.93648,Wrangell,AK,Alaska,True,NaN,2484,0.4,2275,Wrangell,{'02275':100},Wrangell,2275,False,False,America/Sitka

In [16]:
census_pd.dtypes

Zipcode               object
Population           float64
Median Age           float64
Household Income     float64
Per Capita Income    float64
Poverty Count        float64
Nicaraguans          float64
Costa Ricans         float64
Guatemalans          float64
Hondurans            float64
Panamanians          float64
Salvadorans          float64
Argentineans         float64
Bolivians            float64
Chileans             float64
Colombians           float64
Ecuadorians          float64
Paraguayans          float64
Peruvians            float64
Uruguayans           float64
Venezuelans          float64
dtype: object

In [17]:
census_pd

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Nicaraguans,Costa Ricans,Guatemalans,Hondurans,...,Salvadorans,Argentineans,Bolivians,Chileans,Colombians,Ecuadorians,Paraguayans,Peruvians,Uruguayans,Venezuelans
0,00601,17242.0,40.5,13092.0,6999.0,10772.0,0.0,0.0,0.0,3.0,...,9.0,0.0,0.0,0.0,0.0,31.0,0.0,0.0,0.0,0.0
1,00602,38442.0,42.3,16358.0,9277.0,19611.0,0.0,0.0,0.0,0.0,...,49.0,0.0,0.0,0.0,0.0,0.0,0.0,56.0,0.0,0.0
2,00603,48814.0,41.1,16603.0,11307.0,24337.0,0.0,0.0,0.0,7.0,...,0.0,9.0,0.0,0.0,38.0,0.0,0.0,9.0,0.0,0.0
3,00606,6437.0,43.3,12832.0,5943.0,4163.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,00610,27073.0,42.1,19309.0,10220.0,11724.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,87515,363.0,44.2,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33116,87518,9.0,-666666666.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33117,87511,2896.0,36.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33118,87578,245.0,48.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33119,87532,18756.0,39.3,NaN,NaN,NaN,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,15.0,0.0,0.0,0.0,0.0

In [25]:
census_combined_pd = pd.merge(census_pd, df_uszipcode, on='Zipcode', how='outer')
census_combined_pd

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Nicaraguans,Costa Ricans,Guatemalans,Hondurans,...,population_zip,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,00601,17242.0,40.5,13092.0,6999.0,10772.0,0.0,0.0,0.0,3.0,...,17242.0,111.4,72001.0,Adjuntas,"{'72001':99.43,'72141':0.57}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,00602,38442.0,42.3,16358.0,9277.0,19611.0,0.0,0.0,0.0,0.0,...,38442.0,523.5,72003.0,Aguada,{'72003':100},Aguada,72003,False,False,America/Puerto_Rico
2,00603,48814.0,41.1,16603.0,11307.0,24337.0,0.0,0.0,0.0,7.0,...,48814.0,667.9,72005.0,Aguadilla,{'72005':100},Aguadilla,72005,False,False,America/Puerto_Rico
3,00606,6437.0,43.3,12832.0,5943.0,4163.0,0.0,0.0,0.0,0.0,...,6437.0,60.4,72093.0,Maricao,"{'72093':94.88,'72121':1.35,'72153':3.78}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,00610,27073.0,42.1,19309.0,10220.0,11724.0,0.0,0.0,0.0,0.0,...,27073.0,312.0,72011.0,Añasco,"{'72003':0.55,'72011':99.45}",Añasco|Aguada,72011|72003,False,False,America/Puerto_Rico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,87515,363.0,44.2,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,363.0,0.9,35039.0,Rio Arriba,{'35039':100},Rio Arriba,35039,False,False,America/Denver
33116,87518,9.0,-666666666.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,9.0,0.4,35039.0,Rio Arriba,{'35039':100},Rio Arriba,35039,False,False,America/Denver
33117,87511,2896.0,36.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,2896.0,19.2,35039.0,Rio Arriba,{'35039':100},Rio Arriba,35039,False,False,America/Denver
33118,87578,245.0,48.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,245.0,5.4,35039.0,Rio Arriba,{'35039':100},Rio Arriba,35039,False,False,America/Denver
33119,87532,18756.0,39.3,NaN,NaN,NaN,0.0,2.0,0.0,0.0,...,18756.0,61.7,35039.0,Rio Arriba,"{'35039':69.69,'35049':30.31}",Rio Arriba|Santa Fe,35039|35049,False,False,America/Denver

In [26]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
census_combined_pd.to_csv("census_data_Central_Americans_and_South_Americans.csv", encoding="utf-8", index=False)

In [27]:
census_combined_pd.dtypes

Zipcode               object
Population           float64
Median Age           float64
Household Income     float64
Per Capita Income    float64
Poverty Count        float64
Nicaraguans          float64
Costa Ricans         float64
Guatemalans          float64
Hondurans            float64
Panamanians          float64
Salvadorans          float64
Argentineans         float64
Bolivians            float64
Chileans             float64
Colombians           float64
Ecuadorians          float64
Paraguayans          float64
Peruvians            float64
Uruguayans           float64
Venezuelans          float64
lat                  float64
lng                  float64
city                  object
state_id              object
state_name            object
zcta                  object
parent_zcta          float64
population_zip       float64
density              float64
county_fips          float64
county_name           object
county_weights        object
county_names_all      object
county_fips_all       object
imprecise             object
military              object
timezone              object
dtype: object

In [75]:
import pandas as pd
from sqlalchemy import create_engine

In [76]:
csv_file = "census_data_Central_Americans_and_South_Americans.csv"
census_combined_pd = pd.read_csv(csv_file)
census_combined_pd

C:\Users\rafae\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (26,35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,zipcode,population,median_age,household_income,per_capita_income,poverty_count,nicaraguans,costa_ricans,guatemalans,hondurans,...,population_zip,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,17242,40.5,13092.0,6999.0,10772.0,0,0,0,3,...,17242.0,111.4,72001.0,Adjuntas,"{'72001':99.43,'72141':0.57}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,38442,42.3,16358.0,9277.0,19611.0,0,0,0,0,...,38442.0,523.5,72003.0,Aguada,{'72003':100},Aguada,72003,False,False,America/Puerto_Rico
2,603,48814,41.1,16603.0,11307.0,24337.0,0,0,0,7,...,48814.0,667.9,72005.0,Aguadilla,{'72005':100},Aguadilla,72005,False,False,America/Puerto_Rico
3,606,6437,43.3,12832.0,5943.0,4163.0,0,0,0,0,...,6437.0,60.4,72093.0,Maricao,"{'72093':94.88,'72121':1.35,'72153':3.78}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,27073,42.1,19309.0,10220.0,11724.0,0,0,0,0,...,27073.0,312.0,72011.0,Añasco,"{'72003':0.55,'72011':99.45}",Añasco|Aguada,72011|72003,False,False,America/Puerto_Rico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,87515,363,44.2,NaN,NaN,NaN,0,0,0,0,...,363.0,0.9,35039.0,Rio Arriba,{'35039':100},Rio Arriba,35039,False,False,America/Denver
33116,87518,9,-666666666.0,NaN,NaN,NaN,0,0,0,0,...,9.0,0.4,35039.0,Rio Arriba,{'35039':100},Rio Arriba,35039,False,False,America/Denver
33117,87511,2896,36.0,NaN,NaN,NaN,0,0,0,0,...,2896.0,19.2,35039.0,Rio Arriba,{'35039':100},Rio Arriba,35039,False,False,America/Denver
33118,87578,245,48.0,NaN,NaN,NaN,0,0,0,0,...,245.0,5.4,35039.0,Rio Arriba,{'35039':100},Rio Arriba,35039,False,False,America/Denver
33119,87532,18756,39.3,NaN,NaN,NaN,0,2,0,0,...,18756.0,61.7,35039.0,Rio Arriba,"{'35039':69.69,'35049':30.31}",Rio Arriba|Santa Fe,35039|35049,False,False,America/Denver

In [ ]:
Williamson	PA	Pennsylvania						Franklin
Salona	PA	Pennsylvania						Clinton
Monocacy	PA	Pennsylvania						Berks
Washington	DC	District of Columbia						District of Columbia
Tolu	KY	Kentucky						Crittenden
Dubre	KY	Kentucky						Metcalfe
Marathon	OH	Ohio						Clermont
Moraine	OH	Ohio						Montgomery
Lansing	MI	Michigan						Ingham
East Ellsworth	WI	Wisconsin						Pierce
Eureka	WI	Wisconsin						Winnebago
Trosky	MN	Minnesota						Pipestone
Plevna	MO	Missouri						Knox
Kansas City	MO	Missouri						Jackson
Clearview City	KS	Kansas						Johnson
Atlanta	ID	Idaho						Elmore
Salt Lake City	UT	Utah						Salt Lake
Sheep Ranch	CA	California						Calaveras
Dardanelle	CA	California						Tuolumne
Goose Prairie	WA	Washington						Yakima

In [77]:
# Add in Poverty Rate (Poverty Count / Population)
#for zip in zipcode:
#    if population > 0:
census_combined_pd["poverty_rate"] = 100 * census_combined_pd["poverty_count"] / census_combined_pd["population"]

In [78]:
census_combined_pd

,zipcode,population,median_age,household_income,per_capita_income,poverty_count,nicaraguans,costa_ricans,guatemalans,hondurans,...,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone,poverty_rate
0,601,17242,40.5,13092.0,6999.0,10772.0,0,0,0,3,...,111.4,72001.0,Adjuntas,"{'72001':99.43,'72141':0.57}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico,62.475351
1,602,38442,42.3,16358.0,9277.0,19611.0,0,0,0,0,...,523.5,72003.0,Aguada,{'72003':100},Aguada,72003,False,False,America/Puerto_Rico,51.014515
2,603,48814,41.1,16603.0,11307.0,24337.0,0,0,0,7,...,667.9,72005.0,Aguadilla,{'72005':100},Aguadilla,72005,False,False,America/Puerto_Rico,49.856599
3,606,6437,43.3,12832.0,5943.0,4163.0,0,0,0,0,...,60.4,72093.0,Maricao,"{'72093':94.88,'72121':1.35,'72153':3.78}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico,64.672984
4,610,27073,42.1,19309.0,10220.0,11724.0,0,0,0,0,...,312.0,72011.0,Añasco,"{'72003':0.55,'72011':99.45}",Añasco|Aguada,72011|72003,False,False,America/Puerto_Rico,43.305138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,87515,363,44.2,NaN,NaN,NaN,0,0,0,0,...,0.9,35039.0,Rio Arriba,{'35039':100},Rio Arriba,35039,False,False,America/Denver,NaN
33116,87518,9,-666666666.0,NaN,NaN,NaN,0,0,0,0,...,0.4,35039.0,Rio Arriba,{'35039':100},Rio Arriba,35039,False,False,America/Denver,NaN
33117,87511,2896,36.0,NaN,NaN,NaN,0,0,0,0,...,19.2,35039.0,Rio Arriba,{'35039':100},Rio Arriba,35039,False,False,America/Denver,NaN
33118,87578,245,48.0,NaN,NaN,NaN,0,0,0,0,...,5.4,35039.0,Rio Arriba,{'35039':100},Rio Arriba,35039,False,False,America/Denver,NaN
33119,87532,18756,39.3,NaN,NaN,NaN,0,2,0,0,...,61.7,35039.0,Rio Arriba,"{'35039':69.69,'35049':30.31}",Rio Arriba|Santa Fe,35039|35049,False,False,America/Denver,NaN

In [79]:
census_combined_pd.dtypes

zipcode                int64
population             int64
median_age           float64
household_income     float64
per_capita_income    float64
poverty_count        float64
nicaraguans            int64
costa_ricans           int64
guatemalans            int64
hondurans              int64
panamanians            int64
salvadorans            int64
argentineans           int64
bolivians              int64
chileans               int64
colombians             int64
ecuadorians            int64
paraguayans            int64
peruvians              int64
uruguayans             int64
venezuelans            int64
lat                  float64
lng                  float64
city                  object
state_id              object
state_name            object
zcta                  object
parent_zcta          float64
population_zip       float64
density              float64
county_fips          float64
county_name           object
county_weights        object
county_names_all      object
county_fips_all       object
imprecise             object
military              object
timezone              object
poverty_rate         float64
dtype: object

In [80]:
census_combined_pd = census_combined_pd.drop(columns=['zcta','parent_zcta','imprecise','military'])

In [81]:
census_combined_pd

,zipcode,population,median_age,household_income,per_capita_income,poverty_count,nicaraguans,costa_ricans,guatemalans,hondurans,...,state_name,population_zip,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,timezone,poverty_rate
0,601,17242,40.5,13092.0,6999.0,10772.0,0,0,0,3,...,Puerto Rico,17242.0,111.4,72001.0,Adjuntas,"{'72001':99.43,'72141':0.57}",Adjuntas|Utuado,72001|72141,America/Puerto_Rico,62.475351
1,602,38442,42.3,16358.0,9277.0,19611.0,0,0,0,0,...,Puerto Rico,38442.0,523.5,72003.0,Aguada,{'72003':100},Aguada,72003,America/Puerto_Rico,51.014515
2,603,48814,41.1,16603.0,11307.0,24337.0,0,0,0,7,...,Puerto Rico,48814.0,667.9,72005.0,Aguadilla,{'72005':100},Aguadilla,72005,America/Puerto_Rico,49.856599
3,606,6437,43.3,12832.0,5943.0,4163.0,0,0,0,0,...,Puerto Rico,6437.0,60.4,72093.0,Maricao,"{'72093':94.88,'72121':1.35,'72153':3.78}",Maricao|Yauco|Sabana Grande,72093|72153|72121,America/Puerto_Rico,64.672984
4,610,27073,42.1,19309.0,10220.0,11724.0,0,0,0,0,...,Puerto Rico,27073.0,312.0,72011.0,Añasco,"{'72003':0.55,'72011':99.45}",Añasco|Aguada,72011|72003,America/Puerto_Rico,43.305138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,87515,363,44.2,NaN,NaN,NaN,0,0,0,0,...,New Mexico,363.0,0.9,35039.0,Rio Arriba,{'35039':100},Rio Arriba,35039,America/Denver,NaN
33116,87518,9,-666666666.0,NaN,NaN,NaN,0,0,0,0,...,New Mexico,9.0,0.4,35039.0,Rio Arriba,{'35039':100},Rio Arriba,35039,America/Denver,NaN
33117,87511,2896,36.0,NaN,NaN,NaN,0,0,0,0,...,New Mexico,2896.0,19.2,35039.0,Rio Arriba,{'35039':100},Rio Arriba,35039,America/Denver,NaN
33118,87578,245,48.0,NaN,NaN,NaN,0,0,0,0,...,New Mexico,245.0,5.4,35039.0,Rio Arriba,{'35039':100},Rio Arriba,35039,America/Denver,NaN
33119,87532,18756,39.3,NaN,NaN,NaN,0,2,0,0,...,New Mexico,18756.0,61.7,35039.0,Rio Arriba,"{'35039':69.69,'35049':30.31}",Rio Arriba|Santa Fe,35039|35049,America/Denver,NaN

In [82]:
census_combined_pd.dtypes

zipcode                int64
population             int64
median_age           float64
household_income     float64
per_capita_income    float64
poverty_count        float64
nicaraguans            int64
costa_ricans           int64
guatemalans            int64
hondurans              int64
panamanians            int64
salvadorans            int64
argentineans           int64
bolivians              int64
chileans               int64
colombians             int64
ecuadorians            int64
paraguayans            int64
peruvians              int64
uruguayans             int64
venezuelans            int64
lat                  float64
lng                  float64
city                  object
state_id              object
state_name            object
population_zip       float64
density              float64
county_fips          float64
county_name           object
county_weights        object
county_names_all      object
county_fips_all       object
timezone              object
poverty_rate         float64
dtype: object

In [95]:
census_combined_pd["central_americans"] = census_combined_pd["nicaraguans"]+census_combined_pd["costa_ricans"]+census_combined_pd["guatemalans"]+census_combined_pd["hondurans"]+census_combined_pd["panamanians"]+census_combined_pd["salvadorans"]

In [97]:
census_combined_pd["south_americans"]=census_combined_pd["argentineans"]+census_combined_pd["bolivians"]+census_combined_pd["chileans"]+census_combined_pd["colombians"]+census_combined_pd["ecuadorians"]+census_combined_pd["paraguayans"]+census_combined_pd["peruvians"]+census_combined_pd["uruguayans"]+census_combined_pd["venezuelans"]

In [99]:
census_combined_pd["total"] = census_combined_pd["central_americans"]+census_combined_pd["south_americans"]

In [103]:
census_combined_pd["percent_central_american"] = 100 * census_combined_pd["central_americans"] / census_combined_pd["population"]
census_combined_pd["percent_south_american"] = 100 * census_combined_pd["south_americans"] / census_combined_pd["population"]
census_combined_pd["percent_total"] = 100 * census_combined_pd["total"] / census_combined_pd["population"]

In [104]:
census_combined_pd

,zipcode,population,median_age,household_income,per_capita_income,poverty_count,nicaraguans,costa_ricans,guatemalans,hondurans,...,county_names_all,county_fips_all,timezone,poverty_rate,central_americans,south_americans,total,percent_central_american,percent_south_american,percent_total
0,601,17242,40.5,13092.0,6999.0,10772.0,0,0,0,3,...,Adjuntas|Utuado,72001|72141,America/Puerto_Rico,62.475351,12,31,43,0.069597,0.179794,0.249391
1,602,38442,42.3,16358.0,9277.0,19611.0,0,0,0,0,...,Aguada,72003,America/Puerto_Rico,51.014515,49,56,105,0.127465,0.145674,0.273139
2,603,48814,41.1,16603.0,11307.0,24337.0,0,0,0,7,...,Aguadilla,72005,America/Puerto_Rico,49.856599,7,56,63,0.014340,0.114721,0.129061
3,606,6437,43.3,12832.0,5943.0,4163.0,0,0,0,0,...,Maricao|Yauco|Sabana Grande,72093|72153|72121,America/Puerto_Rico,64.672984,0,1,1,0.000000,0.015535,0.015535
4,610,27073,42.1,19309.0,10220.0,11724.0,0,0,0,0,...,Añasco|Aguada,72011|72003,America/Puerto_Rico,43.305138,0,9,9,0.000000,0.033243,0.033243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33115,87515,363,44.2,NaN,NaN,NaN,0,0,0,0,...,Rio Arriba,35039,America/Denver,NaN,0,0,0,0.000000,0.000000,0.000000
33116,87518,9,-666666666.0,NaN,NaN,NaN,0,0,0,0,...,Rio Arriba,35039,America/Denver,NaN,0,0,0,0.000000,0.000000,0.000000
33117,87511,2896,36.0,NaN,NaN,NaN,0,0,0,0,...,Rio Arriba,35039,America/Denver,NaN,0,0,0,0.000000,0.000000,0.000000
33118,87578,245,48.0,NaN,NaN,NaN,0,0,0,0,...,Rio Arriba,35039,America/Denver,NaN,0,0,0,0.000000,0.000000,0.000000
33119,87532,18756,39.3,NaN,NaN,NaN,0,2,0,0,...,Rio Arriba|Santa Fe,35039|35049,America/Denver,NaN,2,19,21,0.010663,0.101301,0.111964

In [120]:
rds_connection_string = "mario:12345@localhost:5432/census_data"
# engine = create_engine("sqlite:///../Resources/census_data.sqlite")
engine = create_engine(f'postgresql://{rds_connection_string}')

In [121]:
engine.table_names()

['central_and_south']

In [126]:
census_combined_pd.to_sql(name='central_and_south', con=engine, if_exists='append', index=False)